.add-catalogue-container {
  margin: 0 auto;
  font-family: Gilroy-SemiBold, sans-serif;
  padding: 24px 9px 24px 24px;

  perfect-scrollbar {
    padding-right: 15px;
  }
}

.add-catalogue-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 32px;
  max-width: 443px;

  mat-icon {
    display: flex;
    font-size: 24px;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  .add-text {
    font-size: 24px;
    line-height: 32px;
    color: white;

    p {
      margin: 0;
    }
  }
}

.add-catalogue-content {
  .upload-photo {
    border: 1px dashed #7c8c99;
    border-radius: 8px;
    padding: 123px 0 119px 0;
    margin-bottom: 32px;

    .upload-content {
      display: block;
      justify-content: center;

      mat-icon {
        display: flex;
        color: #d5d8d8;
        margin: 0 auto;
        font-size: 32px;
      }

      p {
        margin: 0;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #d5d8d8;
        padding-top: 12px;
      }
    }
  }
}

::ng-deep {
  .perfect-scrollbar > .ps.ps--active-y > .ps__rail-y.ps--clicking,
  perfect-scrollbar > .ps.ps--active-y > .ps__rail-y:hover {
    background: transparent;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: unset;
  }

  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-x:hover,
  .ps .ps__rail-y.ps--clicking,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-y:hover {
    background: transparent !important;
  }

  .ps__thumb-x,
  .ps__thumb-y {
    background-color: #009e8e !important;
  }

  .perfect-scrollbar > .ps.ps--scrolling-x > .ps__rail-x,
  perfect-scrollbar > .ps.ps--scrolling-y > .ps__rail-y {
    background-color: unset !important;
  }
}

.add-catalogue-footer {
  border-top: 1px solid #82898b;
  margin-top: 26px;
  padding-top: 16px;
  padding-bottom: 16px;

  .footer-container {
    margin: 0 auto;
    max-width: 423px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .catalogue-save {
    background: #009e8e;
    border-radius: 2px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: white;
    padding: 12px 37.5px;

    &:hover {
      cursor: pointer;
    }
  }

  .catalogue-cancel {
    font-family: Gilroy-SemiBold, sans-serif;
    padding: 12px 37.5px;
    font-size: 18px;
    line-height: 24px;
    color: white;
    border: none;
    background: transparent;

    &:hover {
      cursor: pointer;
    }
  }
}

.invalidButton {
  opacity: 0.3;

  &:hover {
    cursor: default !important;
  }
}
