.catalogue-list {
  .game-background {
    background: url('../../assets/images/bg.png') center center;
    background-size: cover;
    padding-bottom: 400px;
  }

  .catalogue-list-text {
    padding-top: 24px;
    padding-bottom: 32px;

    .catalogue-text {
      font-family: Gilroy-SemiBold, sans-serif;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0.5px;
      color: white;
    }
  }

  .game-catalogue {
    .catalogue-search-sort {
      display: flex;
      position: relative;
      padding-bottom: 28px;
      align-items: center;

      .catalogue-search {
        display: flex;
        align-items: center;
        background: #1f3335;
        border-radius: 2px;
        max-width: 480px;
        width: 100%;
        height: 56px;
        padding-left: 19px;

        .search-form {
          display: flex;
          align-items: center;
          max-width: 400px;
          width: 100%;
        }

        .search__icon {
          color: white;
        }

        .search__input {
          outline: none;
          background: transparent;
          border: none;
          color: #82898b;
          padding-left: 8px;
          font-size: 16px;
          max-width: 400px;
          width: 100%;
        }
      }

      .catalogue-sort {
        display: flex;
        align-items: center;

        .sort-text {
          font-family: Roboto, 'Helvetica Neue', sans-serif;
          margin: 0;
          font-size: 16px;
          line-height: 24px;
          color: #82898b;
          padding-left: 32px;
        }

        .sort-list {
          border: none;
          outline: none;
          background: transparent;

          .sort__option {
            background: #2e3b3e;
            font-size: 16px;
            line-height: 24px;
            color: #a3a8a8;
            padding: 0 16px;
          }
        }
      }

      .add-button-catalogue-list {
        position: absolute;
        right: 0;
        margin: 0;
        padding: 16px 27px;
        max-width: 224px;
        border: none;
        background: #009e8e;
        border-radius: 2px;
        display: flex;
        font-size: 18px;
        font-family: Gilroy-SemiBold, sans-serif;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: white;

        &:hover {
          cursor: pointer;
        }

        .catalogue-text {
          margin: 0;
          padding-left: 10px;
        }
      }
    }
  }

  .game-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 480px);
    gap: 32px;
    justify-content: center;

    .game {
      background: #2e3b3e;

      .game-image {
        max-width: 480px;
        width: 100%;
        height: 262px;
      }

      .game-container {
        padding: 32px;

        .game-name {
          display: flex;
          padding-bottom: 10px;
          justify-content: space-between;
          align-items: center;

          .edit__icon {
            color: #a3a8a8;
          }

          .name {
            font-size: 24px;
            line-height: 32px;
            font-family: Gilroy-SemiBold, sans-serif;
            color: white;
            margin: 0;
          }

          .edit-menu {
            display: flex;

            &:hover {
              cursor: pointer;
            }

            mat-icon {
              color: white;
            }
          }
        }

        .game-amount {
          max-width: 88px;
          height: 32px;
          display: flex;
          align-items: center;
          background: #495557;
          border-radius: 2px;
          box-shadow: unset;

          p {
            margin: 0 auto;
            color: #d5d8d8;
          }
        }
      }
    }
  }
}

::ng-deep {
  .mat-form-field-wrapper {
    padding: 0;
  }

  .mat-icon-button {
    width: unset !important;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: unset;
  }

  .mat-form-field-underline ::before {
    background-color: unset;
  }

  .mat-select-value {
    color: #009e8e;
    font-family: Gilroy-SemiBold, sans-serif;
  }

  .mat-option.mat-active {
    background: #2e3b3e;
    color: #a3a8a8;
  }

  .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: unset;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background: unset;
  }

  .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0 0 1px 0;
  }

  .mat-select-panel:not([class*='mat-elevation-z'])::-webkit-scrollbar {
    width: 0;
  }

  .mat-form-field-infix {
    width: 250px !important;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 2px 0px 0 15px !important;
  }

  .mat-body,
  .mat-body-1,
  .mat-typography {
    font: unset;
  }

  .mat-form-field-infix {
    border-top: unset;
  }

  .mat-form-field {
    font-size: 16px;
    line-height: 24px;
  }

  .mat-body-1,
  .mat-typography {
    color: #a3a8a8;
  }

  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #009e8e;
  }

  .mat-select-arrow {
    color: #009e8e;
  }

  .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: translateY(0) !important;
  }

  .mat-form-field-ripple {
    background-color: unset;
  }

  .mat-select-panel {
    background: #2e3b3e;
    max-height: 380px !important;
    max-width: 352px !important;
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #009e8e !important;
  }

  .mat-option:hover:not(.mat-option-disabled),
  .mat-option:focus:not(.mat-option-disabled) {
    background: #495557;
  }

  .mat-option {
    background: #2e3b3e;
    color: #a3a8a8;
    padding: 0 90px 0 16px !important;
  }

  .mat-menu-item .mat-icon-no-color,
  .mat-menu-submenu-icon {
    color: unset;
  }

  .mat-menu-item:hover:not([disabled]),
  .mat-menu-item.cdk-program-focused:not([disabled]),
  .mat-menu-item.cdk-keyboard-focused:not([disabled]),
  .mat-menu-item-highlighted:not([disabled]) {
    background: #2e3b3e;
  }

  .mat-menu-item {
    padding: 0 47px 0 19px !important;
    background: #1c2a2d;
    color: #a3a8a8;

    &:hover {
      background: #2e3b3e !important;
    }
  }

  .mat-menu-content {
    background-color: #1c2a2d;
  }

  .mat-menu-panel {
    background: unset;
  }
}

.mat-menu-content:not(:empty) {
  padding-top: 4px;
}

::ng-deep .dialog {
  .mat-dialog-container {
    background: #2e3b3e;
    border-radius: 2px;
    padding: 0 !important;

    .add-catalogue-input {
      background: #1f3335;
      border-radius: 2px;
      max-width: 440px;
      width: 100%;
      height: 56px;
      margin-bottom: 32px;

      mat-error {
        padding-top: 20px;
        font-size: 16px;
      }
    }

    .mat-input-element {
      font-family: Roboto, sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: white !important;
    }

    .mat-form-field-label {
      color: #82898b;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
      padding: 20px 16px 4px 16px !important;
    }

    .mat-form-field.mat-focused .mat-form-field-label {
      color: #82898b;
    }

    .mat-form-field.mat-form-field-invalid .mat-form-field-label {
      color: #f44336 !important;
    }

    .add-catalogue-text-area {
      background: #1f3335;
      width: 100%;
      border-radius: 2px;

      &::ng-deep {
        .mat-form-field-label {
          color: #82898b !important;
        }
      }

      mat-error {
        padding-top: 20px;
        font-size: 16px;
      }

      textarea {
        resize: none;
        height: 160px;
      }

      mat-hint {
        padding-top: 17px;
        color: #82898b;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
