.mat-menu-content:not(:empty) {
  padding-top: 4px;
}

::ng-deep .mat-menu-panel {
  background: unset;
}

::ng-deep .mat-menu-content {
  padding: 0 !important;
}

::ng-deep .mat-menu-item {
  height: 42px !important;
  padding: 0 47px 0 19px !important;
  background: #1C2A2D;
  color: #A3A8A8;
}

::ng-deep .mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item-highlighted:not([disabled]) {
  background: #2E3B3E;
}

::ng-deep .mat-menu-item .mat-icon-no-color, .mat-menu-submenu-icon {
  color: unset;
}
