<div class="slide-menu">
  <div class="slide-menu-list">
    <div class="list-container">
      <ul class="list">
        <li class="list__item"><a href="#">All Items</a></li>
        <li class="list__item"><a href="#">Miscellaneous</a></li>
        <li class="list__item"><a href="#">Grand Alliance Chaos</a></li>
        <li class="list__item"><a href="#">Grand Alliance Death</a></li>
      </ul>
    </div>
  </div>
  <div class="slide-controls">
    <div class="controls-container">
      <button class="add-catalogue">
        <mat-icon class="add-icon">add_circle_outline</mat-icon>
        <p class="catalogue-text">Add Catalogue</p>
      </button>
      <button class="add-item">
        <mat-icon class="add-icon">add_circle_outline</mat-icon>
        <p class="add-item-text">Add Item</p>
      </button>
    </div>
  </div>
</div>
